  <!-- Sidebar -->
  <div class="display">
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion width:200px" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard">
            <div class="sidebar-brand-icon rotate-n-1">
                <!-- <i class="fas fa-fw fa-user"></i> -->
                <img src="../../../assets/images/crm4.webp" style="width: 50px; margin-top: 20px;">
            </div>
            <div class="sidebar-brand-text mx-3">CRM</div>
        </a>
    
        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard">
                <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                <img src="../../../assets/images/clients1.webp" style="width:60px; border-radius:50%">
                <span>Costumers</span></a>
        </li>
    
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard/addNewCustomer">
                <!-- <i class="fas fa-fw fa-user-plus"></i> -->
                <img src="../../../assets/images/client5.png" style="width:60px; border-radius:50%">
    
                <span>Add new customer</span></a>
        </li>
    
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard/contacts">
                <!-- <i class="fas fa-fw fa-user-plus"></i> -->
                <img src="../../../assets/images/employee6.jpg" style="width:60px; border-radius:50%">
    
                <span>Contacts</span></a>
        </li>
    
        <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard/addEmployee">
                <!-- <i class="fas fa-fw fa-user-plus"></i> -->
                <img src="../../../assets/images/employee2jpg.webp" style="width:60px; border-radius:50%">
    
                <span>Add Employee</span></a>
        </li>
    
        <!-- Divider -->
        <hr class="sidebar-divider">
    </ul>
    <!-- End of Sidebar -->

  </div>
  